@font-face {
    font-family: Gilroy-Bold;
    src: url(./fonts/Gilroy-Bold.woff2);
}

@font-face {
    font-family: Gilroy-Medium;
    src: url(./fonts/Gilroy-Medium.woff2);
}

@font-face {
    font-family: Gilroy-Semibold;
    src: url(./fonts/Gilroy-Semibold.woff2);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #FFF;
}

img {
    display: block;
    max-width: 100%;
}

button {
    color: white;
    font-weight: 600;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    margin-top: 40px;
    margin-bottom: 89px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation a {

    color: #000;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
}

.menu {
    display: flex;
    width: 533px;
    justify-content: space-between;
    align-items: center;
}

.headerSelect {
    color: #000;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.main {
    margin-bottom: 162px;
}

.mainContent {
    display: flex;
    gap: 41px;
}

.mainContent__leftSide h1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    margin-bottom: 17px;
    max-width: 522px;
}

.mainContent__leftSide h2 {

    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    margin-bottom: 37px;
    max-width: 466px;
}

.mainContent_leftButton {
    padding: 15px 35px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.mainContent_rightButton {
    padding: 15px 35px;
    border-radius: 50px;
    background: #FFF;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.btn {
    display: flex;
    gap: 72px
}

.footer {
    padding: 100px;
}

.logos {
    display: flex;
    justify-content: space-between;
}