@font-face {
    font-family: Gilroy-Bold;
    src: url(./fonts/Gilroy-Bold.woff2);
}

@font-face {
    font-family: Gilroy-Medium;
    src: url(./fonts/Gilroy-Medium.woff2);
}

@font-face {
    font-family: Gilroy-Semibold;
    src: url(./fonts/Gilroy-Semibold.woff2);
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(./fonts/Gilroy-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #FFF;
}

img {
    display: block;
    max-width: 100%;
}

button {
    color: white;
    font-weight: 600;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    margin-top: 40px;
    margin-bottom: 89px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: #000;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
}

.menu {
    display: flex;
    width: 533px;
    justify-content: space-between;
    align-items: center;
}

.headerSelect {
    color: #000;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.mainContent {
    display: flex;
    gap: 41px;
    margin-bottom: 162px;
}

.mainContent__leftSide h1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    margin-bottom: 17px;
    max-width: 522px;
}

.mainContent__leftSide h2 {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    margin-bottom: 37px;
    max-width: 466px;
}

.mainContent_leftButton {
    padding: 15px 35px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.mainContent_rightButton {
    padding: 15px 35px;
    border-radius: 50px;
    background: #FFF;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.btn {
    display: flex;
    gap: 72px
}

.logos {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px;
    gap: 31px;
    margin-bottom: 92px;
}

.iconGap {
    margin-bottom: 25px;
}

.cardTitle {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;

}

.cardText {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 17px;
}

.cardHiper {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 25px;
}

.cardCenter {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.cardPading {
    padding: 30px;
}

.chooseUs {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 100px;
    background: #FAFAFA;
    max-width: 100%;
}

.chooseUscard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    max-width: 370px;
    padding-bottom: 50px;
}

.chooseUsBlock {
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #FAFAFA;
    max-width: 100vw;
}

.chooseUsTitle {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 19px;
    text-align: center;
}

.chooseUsText {
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    max-width: 682px;
    margin-bottom: 54px;
}

.chooseUsTitleChange {
    font-size: 24px;
    margin-bottom: 22px;
}

.chooseUsTextChange {
    font-size: 15px;
    margin: 0 30px 39px;
    color: #AAA;
}

.iconChooseUsMarg {
    margin-bottom: 20px;
}

.chooseUsBtn {
    display: flex;
    gap: 6px;
    padding: 15px 35px;
    border-radius: 50px;
    background: #F25822;
    align-items: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
    border: none;
    cursor: pointer;
    font-weight: 400;
    line-height: 150%;
}

.btnHiper {
    display: flex;
    color: #FFF;
}

.chooseUscardCenter {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}